Bio/Entrez/DTDs/epost.dtd

<!--    
                This is the Current DTD for Entrez ePost
$Id: ePost_020511.dtd 161288 2009-05-26 18:34:21Z fialkov $
-->
<!-- ================================================================= -->

<!ELEMENT	Id		(#PCDATA)>	<!-- \d+ -->

<!ELEMENT	InvalidIdList	(Id+)>
<!ELEMENT       QueryKey        (#PCDATA)>	<!-- \d+ -->
<!ELEMENT       WebEnv          (#PCDATA)>	<!-- \S+ -->
<!ELEMENT       ERROR           (#PCDATA)>	<!-- .+ -->

<!ELEMENT     ePostResult       (InvalidIdList?,(QueryKey,WebEnv)?,ERROR?)>
